services:
  app:
    build:
      context: ./docker/php82
      args:
        UID: ${APP_UID}
        GID: ${APP_GID}
    tty: true
    volumes:
      - .:/var/www
    working_dir: /var/www

  app-php83:
    build:
      context: ./docker/php83
      args:
        UID: ${APP_UID}
        GID: ${APP_GID}
    tty: true
    volumes:
      - .:/var/www
    working_dir: /var/www
    profiles:
      - app-php83

  app-php84:
    build:
      context: ./docker/php84
      args:
        UID: ${APP_UID}
        GID: ${APP_GID}
    tty: true
    volumes:
      - .:/var/www
    working_dir: /var/www
    profiles:
      - app-php84

  app-php85:
    build:
      context: ./docker/php85
      args:
        UID: ${APP_UID}
        GID: ${APP_GID}
    tty: true
    volumes:
      - .:/var/www
    working_dir: /var/www
    profiles:
      - app-php85
