parameters:
  level: max
  paths:
    - src
    - config
    - tests
    - .php-cs-fixer.dist.php
  excludePaths:
    - vendor
    - vendor-bin
    - tests/Feature/stubs/Targets/TestTarget2.php # Error message "Readonly classes are supported only on PHP 8.2 and later." cannot be ignored, use excludePaths instead.
  bootstrapFiles:
    - vendor-bin/php-cs-fixer/vendor/autoload.php
  ignoreErrors:
    - identifier: larastan.noEnvCallsOutsideOfConfig
      path: config
      reportUnmatched: false # Add for Larastan 2.

# vim: set ft=yaml:
