parameters:
  level: max
  paths:
    - src
    - config
    - tests
    - .php-cs-fixer.dist.php
  excludePaths:
    - vendor
    - vendor-bin
  bootstrapFiles:
    - vendor-bin/php-cs-fixer/vendor/autoload.php

# vim: set ft=yaml:
