name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.2'
          - '8.3'
          - '8.4'
          - '8.5'
        laravel:
          - 11
          - 12
    name: PHP ${{ matrix.php }} + Laravel ${{ matrix.laravel }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Update Composer to latest version
        run: sudo composer self-update

      - name: Validate composer.json
        run: composer validate

      - name: Install Composer dependencies
        run: composer update --no-interaction

      - name: Install npm dependencies
        run: npm install

      - name: Run tests
        run: |
          if [[ "${{ matrix.php }}" == '8.5' && "${{ matrix.laravel }}" == 12 ]]; then
            composer test-coverage
          else
            composer test
          fi

      - name: Upload coverage results to Coveralls
        if: matrix.php == '8.5' && matrix.laravel == 12
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: vendor-bin/php-coveralls/vendor/bin/php-coveralls --coverage_clover=build/logs/clover.xml
